<style>
    .dual-list .list-group {
        margin-top: 8px;
    }

    .list-left li, .list-right li {
        cursor: pointer;
    }

    .list-arrows {
        padding-top: 100px;
    }

        .list-arrows button {
            margin-bottom: 20px;
        }
</style>

<script>
    $(function () {

        $('body').on('click', '.list-group .list-group-item', function () {
            $(this).toggleClass('active');
        });
        $('.list-arrows button').click(function () {
            var $button = $(this), actives = '';
            if ($button.hasClass('move-left')) {
                actives = $('.list-right ul li.active');
                actives.clone().appendTo('.list-left ul');
                actives.remove();
            } else if ($button.hasClass('move-right')) {
                actives = $('.list-left ul li.active');
                actives.clone().appendTo('.list-right ul');
                actives.remove();
            }
        });
        $('.dual-list .selector').click(function () {
            var $checkBox = $(this);
            if (!$checkBox.hasClass('selected')) {
                $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
            } else {
                $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
            }
        });
        $('[name="SearchDualList"]').keyup(function (e) {
            var code = e.keyCode || e.which;
            if (code == '9') return;
            if (code == '27') $(this).val(null);
            var $rows = $(this).closest('.dual-list').find('.list-group li');
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    });
</script>


<div class="row">
    <div ng-include="'app/partials/navbar.html'"></div>
    <div class="">
        <div class="col-md-offset-8" ng-controller="AgendaCtrl">
            <button style="margin-bottom: 10px; margin-left: 52px; color:#fff" class="btn btn-sm btn-info" ng-click="NovoAgendamento()"><i class="fa fa-plus"></i>Novo Agendamento</button>
            <a style="color:#fff; margin-bottom: 10px;" class="btn btn-sm btn-warning" href="#/agenda"><i class="fa fa-file-text-o"></i>Consultar Agenda</a>
        </div>
    </div>
</div>
<div ng-include="'app/partials/navbar-vertical.html'"></div>


<div class="col-md-9 content">
    <div class="panel panel-default" >
        <div class="panel-heading" style="background-image:none">
            Envio de email
        </div>
        <div class="panel-body">
            <div class="dual-list list-left col-md-5">
                <h4>Lista de envio</h4>
                <div class="well text-right">
                    <div class="row">
                        <div class="col-md-10">
                        
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-search"></span>
                                <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group">
                                <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group"></ul>
                </div>
            </div>

            <div class="list-arrows col-md-1 text-center">
                <button class="btn btn-default btn-sm move-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>

                <button class="btn btn-default btn-sm move-right">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>

            <div class="dual-list list-right col-md-5">
                <h4>Lista de clientes</h4>
                <div class="well">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="btn-group">
                                <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                <span class="input-group-addon glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group" >
                        <li class="list-group-item" ng-repeat="item in clientesEmails"  id="{{item.Email}}">{{item.Nome}}</li>
                    </ul>
                </div>
            </div>
            <br />
            
        </div>
       <div class="panel-footer">
           <div class="well">
               Mensagem:
           </div>
           <textarea class="form-control" id="msgConteudo">

           </textarea>
           <hr />
           <label>Enviar Imagem</label>
           <input type="file" id="file" name="file" value=" Adicionar Imagem" />
           <hr />
           <div class="row">
               <button type="submit" class="btn btn-success col-md-offset-11" ng-click="enviarEmail()">Enviar</button>
           </div>
       </div>

    </div>
</div>
