/*.well {*/
background-color: #fff; box-shadow: none; border: none;
}

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
    text-align: center;
}

    .flip .card.flipped {
        -webkit-transform: rotatey(-180deg);
        transform: rotatey(-180deg);
    }

    .flip .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: 0.5s;
        transform-style: preserve-3d;
        transition: 0.5s;
    }

        .flip .card .face {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 2;
        }

        .flip .card .front {
            position: absolute;
            width: 100%;
            z-index: 1;
        }

        .flip .card .back {
            -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
        }

.inner {
    margin: 0px !important;
}


.card {
    box-shadow: none;
}

.main-container {
    background-color: rgba(200, 200, 200, 0.48);
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #4285F4 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}


#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

.modalTratamento {
    margin-bottom: 15px;
    margin-top: -5px;
}

.form-control {
    border: 1px solid #ccc;
}

.input-group {
    margin-bottom: 10px;
}

.navbar {
    font-size: 14px;
}

body {
    background-color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
}
/*Navbar*/
.navbar-default {
    background-color: #fff;
    border-bottom-color: #E3E3E3;
}

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        background-color: transparent !important;
    }

    .navbar-default .btn-compose {
        padding-right: 10px;
        border-right: 1px solid #F0F0F0;
    }


.float-label {
    font-size: 10px;
}


/*Content Container*/
.content-container {
    background-color: #fff;
    padding: 35px 20px;
    margin-bottom: 20px;
}

h1.content-title {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif !important;
}
/*Compose*/
.btn-send {
    text-align: center;
    margin-top: 20px;
}
/*mail list*/

ul.mail-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 30px;
}

    ul.mail-list li a {
        display: block;
        border-bottom: 1px dotted #CFCFCF;
        padding: 20px;
        text-decoration: none;
    }

    ul.mail-list li:last-child a {
        border-bottom: none;
    }

    ul.mail-list li a:hover {
        background-color: #DBF9FF;
    }

    ul.mail-list li span {
        display: block;
    }

        ul.mail-list li span.mail-sender {
            font-weight: 600;
            color: #8F8F8F;
        }

        ul.mail-list li span.mail-subject {
            color: #8C8C8C;
        }

        ul.mail-list li span.mail-message-preview {
            display: block;
            color: #A8A8A8;
        }

.mail-search {
    border-bottom-color: #7FBCC9 !important;
}

.nav-pills > li > a:hover {
    background-color: #cecece;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #f55567;
    background-color: none;
}

.nav-pills > li > a:hover {
    color: #f55567;
    background-color: #fff;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #f55567;
    background-color: none;
}

.seila {
    color: #6B5757;
    background-color: #fff;
    font-size: 11pt;
}

    .seila:hover {
        color: #f55567;
        background-color: #fff;
    }

.navbar-inverse {
    background-color: #fff;
    background-image: none;
    border: 1px solid #cce;
    box-shadow: 0px 0px 2px #ccc;
}    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
        text-shadow: none;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
        background-color: #ccc;
        background-image: none;
        -webkit-box-shadow: none;
    }



    .navbar-inverse .navbar-brand {
        font-size: 15pt;
        color: #f55567;
        color: #B33;
    }

.well {
    background-image: none;
}

.glyphicon {
    margin-right: 5px;
}

.fa {
    margin-right: 5px;
}



.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #f55567;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #B33;
}

.dashboard-btn {
    background-image: none;
    height: 100px;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 7px;
    box-shadow: 1px 1px 5px #cce;
}

.bar {
    background-color: blue;
}

.one, .two, .three {
    position: absolute;
    margin-top: -10px;
    z-index: 1;
    height: 30px;
    width: 40px;
    border-radius: 25px;
}

.one {
    left: 25%;
}

.two {
    left: 50%;
}

.three {
    left: 75%;
}

.primary-color {
    background-color: #4989bd;
}

.success-color {
    background-color: #5cb85c;
}

.danger-color {
    background-color: #d9534f;
}

.warning-color {
    background-color: #f0ad4e;
}

.info-color {
    background-color: #5bc0de;
}

.no-color {
    background-color: inherit;
}


.tamanho-icon {
    font-size: 25px;
}
